{%extends 'base.html'%}


{%block content%}

{%load static%}


<link rel="stylesheet" href="{%static 'css/dogmenu.css'%}">

<div class="center">
<h1>Dog Finder</h1>
</div>
<div class="container">
<div class="align-items-center justify-content-center"> 


<form action="" method="POST">
{% csrf_token %}

<select class="form-select center" id="lifespan" name="lifespan">
    <option value="Lifespan" selected>Lifespan</option>
    <hr>
    {%for key,value in lifespan.items%}
    <option value="{{value.id}}">{{value.lifespan}}</option>
    {%endfor%}
</select>
<hr>
<select class="form-select center" id="temperament" name="temperament">
    <option value="Temperament" selected>Temperament</option>
    <hr>
    {%for key,value in temperament.items%}
    <option value="{{value.id}}">{{value.temperament}}</option>
    {%endfor%}
</select>
<hr>
<select class="form-select center" id="train" name="train">
    <option value="Trainability" selected>Trainability</option>
    <hr>
    {%for key,value in trainability.items %}
    <option value="{{value.id}}">{{value.trainability}}</option>
    {%endfor%}
</select>
<hr>
<select class="form-select center" id="size" name="size">
    <option value="Size" selected>Size</option>
    <hr>
    {%for key,value in size.items%}
    <option value="{{value.id}}">{{value.size}}</option>
    {%endfor%}
</select>
<hr>
<select class="form-select center" id="hair" name="hair">
    <option value="Hair" selected>Hair</option>
    <hr>
    {%for key,value in hair.items%}
    <option value="{{value.id}}">{{value.hair}}</option>
    {%endfor%}
</select>
<hr>
<select class="form-select center" id="color" name="color">
    <option value="Color" selected>Color</option>
    <hr>
    {%for key,value in color.items%}
    <option value="{{value.id}}">{{value.color}}</option>
    {%endfor%}
</select>
<hr>
<div class="center">
<button class="btn mt-3 btn-dark" onclick="search(event);" style="text-align: center;" type="submit">Search</button>
</div>

</form>

</div>
</div>
  

<script>        
    function search(event) {
      let lifespan = document.getElementById("lifespan").value;
      let temperament = document.getElementById("temperament").value;
      let trainability = document.getElementById("train").value;
      let size = document.getElementById("size").value;
      let hair = document.getElementById("hair").value;
      let color = document.getElementById("color").value;

      if (lifespan.trim() === "Lifespan") {
        Swal.fire({
    icon: 'error',
    title: 'Oops...',
    text: 'Something went wrong! Lifespan not selected.',
    footer: 'Please select a Lifespan value!'
  });
        event.preventDefault();
      }

      else if (temperament.trim() === "Temperament"){
        Swal.fire({
    icon: 'error',
    title: 'Oops...',
    text: 'Something went wrong! Temperament not selected.',
    footer: 'Please select a Temperament value!'
  });
        event.preventDefault();       
      }

      else if (trainability.trim() === "Trainability"){
        Swal.fire({
    icon: 'error',
    title: 'Oops...',
    text: 'Something went wrong! Trainability not selected.',
    footer: 'Please select a Trainability value!'
  });
        event.preventDefault();       
      }

      else if (size.trim() === "Size"){
        Swal.fire({
    icon: 'error',
    title: 'Oops...',
    text: 'Something went wrong! Size not selected.',
    footer: 'Please select a Size value!'
  });
        event.preventDefault();       
      }

      else if (hair.trim() === "Hair"){
        Swal.fire({
    icon: 'error',
    title: 'Oops...',
    text: 'Something went wrong! Hair not selected.',
    footer: 'Please select a Hair value!'
  });
        event.preventDefault();       
      }

      else if (color.trim() === "Color"){
        Swal.fire({
    icon: 'error',
    title: 'Oops...',
    text: 'Something went wrong! Color not selected.',
    footer: 'Please select a Color value!'
  });
        event.preventDefault();       
      }


    };



  </script>

{%endblock%}