{%extends 'base.html'%}




{%block content%}

<div class="album py-5 bg-body-tertiary">
<div class="container">
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {# for comes here to create new columns within this row #}
    <div class="col">
        <div class="card shadow-sm">
        <a href="{%url 'dog-menu'%}">
            <svg aria-label="Placeholder: DOGS" 
            class="bd-placeholder-img card-img-top" 
            height="225" preserveAspectRatio="xMidYMid slice" role="img" 
            width="100%" xmlns="http://www.w3.org/2000/svg"> 
            <title>DOGS MENU</title>
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <text x="35%" y="50%" fill="#eceeef" dy=".3em">DOGS MENU</text>
            </svg>
        </a>
        </div>
    </div>
    {##}

    
</div>



</div>
</div>




{%endblock%}